<!DOCTYPE html>
<html lang="ro">
<head>
{% include 'meta.html' %}
{% include 'google_frendly_head.html' %}
{% include 'style.html' %}
</head>
<body>

<div class="main_container">
<!-- Header -->
{% include 'header_tmplt.html' %}
{% if galleries|length > 4 %}
  {% set slices = 4 %}
{% endif %}
{% if galleries|length == 3 %}
  {% set slices = 3 %}
{% endif %}
{% if galleries|length == 2 %}
  {% set slices = 2 %}
{% endif %}
{% if galleries|length == 1%}
  {% set slices = 1 %}
{% endif %}
<!-- Photo Grid -->
<div class="row">

{% set ftotal= {'counttotal': 0} %}
    {% for sublist in galleries|slice(slices) %}
    <div class="column">
        {% for name in sublist %}
          <div class="image_container">
            <a href="{{name}}/index.html">
                <img id="Sissy-{{name}}" src="{{name}}/media/thumbnails/{{ images[ftotal.counttotal][0] }}" itemprop="thumbnail" alt="Image description" >
            </a>
            <div class="content">
            <!--  some desciption here -->
            </div>
          </div>
             {% if ftotal.update({'counttotal': ftotal.counttotal + 1}) %}{% endif %}

        {% endfor %}

    </div>
    {% endfor %}
</div>
<span>You have {{galleries|length}} galleries</span>
</div>
</body>
</html>
