<!DOCTYPE html>
<html lang="ro">
<head>
{% include 'meta.html' %}
{% include 'style_gallery.html' %}
<script>
document.addEventListener("DOMContentLoaded", function() {
  var curtain = document.createElement("div")
  curtain.style.cssText = "position: fixed; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; background: rgba(0,0,0,0.5) none 50% 50%/contain no-repeat; display: none"
  document.body.appendChild(curtain)
  curtain.onclick = function() { curtain.style.display = "none" }
  var boxes = document.getElementsByClassName("display_large")
  for(var i=0; i<boxes.length; ++i) boxes[i].addEventListener("click", function(e) {
    e.preventDefault()
    curtain.style.backgroundImage = "url('"+e.target.parentNode.href+"')"
    curtain.style.display = "block"
  })
})
</script>
</head>
<body>
  <div id="mySidenav" class="sidenav">
    <div class="paw-icon">
    <div class="circle">
      <div class="paw">
        <div class="paw-center"></div>
        <div class="paw-bottom"></div>
        <div class="frame1"></div>
        <div class="frame2"></div>
        <div class="frame3"></div>
        <div class="frame4"></div>
      </div>
    </div>
  </div>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {% for item in gallery_menu %}
        {% if item == active %}
            <a href="../{{item}}/index.html" style="background-color: #f44336;color: #ffffff;">{{item}}</a>
        {% else %}
            <a href="../{{item}}/index.html" >{{item}}</a>
        {% endif %}

    {% endfor %}
  </div>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

<!-- Header -->
<div class="header">
  <h1>artplace.ro</h1>
  <p>A place of joy and beauty things.</p>
</div>

<!-- Photo Grid -->
<div class="row">
    {% for sublist in images|slice(4) %}
    <div class="column">
        {% for image in sublist %}
            <a href="media/images/{{ image }}" class="display_large" target="_blank" >
              <img id="Sissy-{{image}}" src="media/thumbnails/{{ image }}" alt="Image description" style="width:100%">
            </a>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<span>You have {{images|length}} images on this gallery</span>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}

</script>
</body>
</html>
