<title>{{site_name}}</title>
<meta charset="UTF-8">
<meta name=description content="Pictura pe sticla, decoratiuni ">
<meta name="keywords" content="lucru manual,decoratiuni,handmade,pictura">
<meta name="author" content="Mihaela">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/favicon.ico"/>
<link rel="icon" type="image/png" href="https://{{site_name}}/favicon.ico"/>
<link rel="canonical" href="https://artplace.ro">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
